<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/about.css" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="/css/landingpagelogo.png"
    />

    <title>About DineIn</title>
  </head>
  <body>
    <div class="topnav">
      <a href="/">DineIn</a>
      <a href="/searchmenu">Menus</a>
      <a href="/searchweeklymenu">Search By area Name</a>
      <a href="/logout">Logout</a>
    </div>

    <div class="writing">
      <div class="info">
        <p>DineIn</p>
        <p>📞: +12368866501</p>
        <p>📧: DineIn.ca</p>
      </div>
      <p class="mainparagraph">
        DineIn is a application that hosts catering numerous catering services.
        Our aim is to creating a unique website for many catering serrvices. Any
        meal service weants to participate, just have to fill in a small form
        about the details of their operation. They must write their menu items
        and their prices. Customers can search for menus and weekly menus by
        location. Customers will see these meal services and contact you with
        the number you provided. That is our job!!! We are not responsible for
        quality control.
      </p>
    </div>
    <div style="margin-top: 100px"></div>
    <footer>
      <p>Copyright &copy; 2018, Author:Tanvir Khan</p>
    </footer>
  </body>
</html>
