body {
  background-image: linear-gradient(
    to bottom,
    #f4efe9,
    #f5e3cd,
    #f6d6b1,
    #f7c996,
    #f7bc7c,
    #f8bb7b,
    #f9b979,
    #fab878,
    #fcc38f,
    #fccea6,
    #fcdabd,
    #fae5d4
  );
}
.topnav {
  background-color: none;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  margin-left: 100px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.2px;
  color: skyblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bolder;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #e45b2f;
}

.half-ellipse {
  float: right;
  background: #e45b2f;
  width: 400px;
  height: 200px;
  border-radius: 100% 0 0 100% / 50%;
}
.lastcontainer {
  margin-top: 30px;
}
.half-ellipse2 {
  margin-top: 10px;
  float: left;
  background: #e45b2f;
  width: 400px;
  height: 200px;
  border-radius: 0 100% 100% 0 / 50%;
}

.name {
  margin-left: 15%;
  font-size: 24px;
}

.shape1 {
  background-image: url('grilled.jpg');
  background-size: cover;
  display: inline-block;
  margin-left: 20px;
  width: 300px;
  height: 200px;

  border-top-right-radius: 30px;
}

.shape2 {
  background-image: url('highmain2.jpg');
  background-size: cover;
  display: inline-block;
  margin-left: 20px;
  width: 300px;
  height: 200px;

  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.shape3 {
  background-image: url('bubbleimage.jpg');
  background-size: cover;
  display: inline-block;
  margin-left: 20px;
  width: 300px;
  height: 200px;

  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.websitename {
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  color: #e45b2f;
  font-weight: bolder;
}

.slogan {
  color: #e45b2f;
}

.landingbutton {
  background-color: skyblue;
  border: none;
  height: 40px;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.landingbutton:hover {
  box-shadow: inset 400px 0 0 0 #e45b2f;
}
