body {
  background-image: url('highmain2.jpg');
  background-repeat: repeat;
  background-size: cover;
}

.topnav {
  background-color: none;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  -webkit-text-stroke-color: blueviolet;
  -webkit-text-stroke-width: 0.2px;

  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: royalblue;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.footerclass {
  position: absolute;
  bottom: 0.2%;
  left: 2%;
}

.login {
  font-size: 20px;
  -webkit-text-stroke-color: blueviolet;
  -webkit-text-stroke-width: 0.7px;
  background-color: transparent;
  color: White;
  width: 230px;
  border: none;
  margin-left: 42%;
  margin-top: 0%;
}

.login h1 {
  margin-left: 20%;
  font-size: 45px;
  margin-top: 0px;
}
a:hover {
  color: white;
}

.loginbutton {
  height: 32px;
  width: 100px;
  margin-left: 27%;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: blueviolet;
}

.loginbutton:hover {
  background-color: blueviolet;
}

.logo {
  -webkit-text-stroke-color: chartreuse;
  display: flex;
  background-color: none;
  width: 100px;
  height: 100px;
  margin-left: 44%;
  margin-top: 75px;
}

.companyname {
  font-family: cursive;
  font: bradley-hand;

  color: white;
  -webkit-text-stroke-color: chartreuse;
  -webkit-text-stroke-width: 1px;
}
