body {
  background-image: url('menupost.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-weight: bolder;
}
.topnav {
  background-color: none;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: 'Ribeye';
  -webkit-text-stroke-color: blueviolet;
  -webkit-text-stroke-width: 0.2px;
  margin-left: 100px;
  float: left;
  color: blueviolet;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: royalblue;
}

.menu {
  display: flex;
  position: relative;
  width: 100%;
  left: 0.5%;
  font-size: medium;
  font-weight: bolder;
  border: none;
  background-image: none;
  margin-top: 50px;
  padding-bottom: 25px;
}

.menuptag {
  -webkit-text-stroke-color: blueviolet;
  -webkit-text-stroke-width: 0.2px;
  position: relative;
  left: 30%;
  font-size: 48px;
}

.entermenuheader {
  -webkit-text-stroke-color: blueviolet;
  -webkit-text-stroke-width: 0.2px;
  display: flex;
  flex-direction: row;
  left: 40%;
  color: white;
  font-family: cursive;
  font-weight: bolder;
}

input[type='text'] {
  background: none;
  border: none;
  color: blueviolet;
  font-style: bold;
  font-weight: bolder;
  border-bottom: 2px solid black;
  width: 90%;
  padding: 3px;
}

input:focus {
  outline: none;
  border-bottom: 2px solid blueviolet;
}
.information {
  color: black;
  font-weight: bold;
}
.menuname {
  -webkit-text-stroke-color: blueviolet;
  -webkit-text-stroke-width: 0.2px;
  color: black;
  font-family: cursive;

  font-weight: bolder;
}

.submitbutton {
  background-color: whitesmoke;
  color: coral;
  font-size: 30px;
  font-weight: bolder;
  border: 2px solid rebeccapurple;
  border-radius: 0px;
  padding: 18px 36px;
  width: 100%;
  display: inline-block;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rebeccapurple;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.submitbutton:hover {
  box-shadow: inset 1530px 0 0 0 rebeccapurple;
}

.menuformat {
  position: relative;
  left: 30%;
  font-size: 25px;
  color: black;
}

.menuh1 {
  margin-left: 230px;
  -webkit-text-stroke-color: blueviolet;
  -webkit-text-stroke-width: 0.5px;
}
