.bar {
  background-color: transparent;
  height: 35px;
  width: 30%;
  margin-left: 30%;
  margin-top: 20px;
  color: rebeccapurple;
  font-weight: bold;
  box-shadow: 0 0 10px rebeccapurple;
}

.fa.fa-search.fa-xs {
  background-color: transparent;
}
.searchbutton {
  height: 40px;
  width: 60px;
  color: white;
  font-size: 18px;
  background-color: royalblue;
  border: 2px solid rebeccapurple;
  box-shadow: 0 0 10px rebeccapurple;
}
body {
  position: relative;
  background-image: url('wood.jpg');
  background-size: cover;
}
.topnav {
  background-color: none;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: 'Ribeye';
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  margin-left: 20%;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: rebeccapurple;
}

/* Add a color to the active/current link */

.box {
  position: relative;

  background-color: transparent;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 50px;
  height: auto;
  width: 15%;
  box-shadow: 0 0 10px rebeccapurple;
}
.box:hover {
  border: solid chartreuse 2px;
}

.principalimage {
  object-fit: cover;
  overflow: hidden;
  height: 170px;
  width: 100%;
}
.margin {
  margin-top: 100px;
}
.nametag {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-variant: normal;
  color: rebeccapurple;

  margin-top: 2px;
  font-size: 20px;
  position: relative;
  margin-left: 10%;
}

.submitbutton {
  position: relative;
  margin-bottom: 0px;

  margin-left: 20%;
  background-color: rebeccapurple;
  color: #fff;

  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rebeccapurple;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.submitbutton:hover {
  box-shadow: inset 400px 0 0 0 #98fb98;
}

p {
  color: white;
}

.box_container {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: start;
}

.footerclass {
  margin-bottom: 10px;
}

.mediatag:hover {
  color: chartreuse;
}
