html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rebeccapurple;
}
.topnav {
  background-color: none;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: 'Ribeye';
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  margin-left: 170px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: royalblue;
}
.firstbox {
  width: 100%;
  height: 600px;
  background-color: burlywood;
  background-image: url('startingpage27.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.signin {
  width: 20%;
  height: 250px;
  color: whitesmoke;
  font-size: large;
  font-weight: bold;
  background-color: transparent;
  margin-left: 10px;
  margin-top: 10%;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px #333;
}

.signin input {
  color: white;
  width: 98%;
  font-size: 14px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid rebeccapurple;
  background-color: transparent;
}

.signin input:focus {
  outline: none;
  border-bottom: 3px solid rebeccapurple;
}

.signin h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.2px;
  margin-left: 28%;
  margin-right: 38%;
  border-bottom: 3px solid rebeccapurple;
}

.loginbutton {
  width: 100%;
  height: 30px;
  margin-top: 13px;
  border: 3px solid rebeccapurple;
  color: white;
  background-color: rebeccapurple;
}

.loginbutton:hover {
  border: 3px solid rebeccapurple;
}

/* ************************************************** */
.secondbox {
  width: 100%;
  height: 300px;
  background-color: white;
  display: flex;
  padding: 10px;
}

.left {
  width: 40%;
  height: 100%;
  display: flex;
}

.leftblock1 {
  background-image: url('left1.jpg');
  background-size: cover;
  background-position: center;
  border: 2px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.leftblock2 {
  width: 58%;
  height: 100%;
  color: rebeccapurple;
  text-align: center;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.right {
  margin-left: 10px;
  width: 57%;
  height: 100%;
  border-left: 5px solid rebeccapurple;
  display: flex;
}

.rightblock1 {
  width: 1050px;
  height: 240px;
  border-radius: 50%;
  border: 2px solid white;
  background-image: url('dishes2.jpg');
  background-size: cover;
  background-position: center;
}

.rightblock2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 100%;
  color: rebeccapurple;
  text-align: center;
  font-size: 15px;
}

.registerbutton {
  height: 35px;
  width: 90px;
  border-radius: 10%;
  background-color: rebeccapurple;
  color: white;
}

.rightblock2 a {
  color: white;
  text-decoration: none;
}

.leftblock2 a {
  color: white;
  text-decoration: none;
}

/* ************************************************** */
.thirdbox {
  width: 100%;
  height: 500px;
}
